<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.a21zhewang.photolibrary">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name="com.a21zhewang.photolibrary.photobrowse.PhotoViewActivity"
            android:theme="@style/NoTitleTranslucentTheme"
            ></activity>


    </application>

</manifest>
